body{
  margin-top:3% ;
  background-image: url('D:\React\fetch\public\pexels-felixmittermeier-957312.jpg');
  background-size: cover;
}
.tot{
  border: 3px solid rgb(0, 0, 0);
  margin:0px 450px ;
}
.black{
  background-color: rgba(50, 55, 57, 0.903);
  height: 80px;
  width: 80px;
}
.white{
  background-color:rgba(226, 232, 232, 0.889) ;
  height: 80px;
  width: 80px;
}

.one,.two{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  height: 60%;
  width: 60%;
  padding: 20%;
}
